<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>TARS - {{user.nombre}} {{user.apellido}}</title>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:800|Orbitron:900" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
	<link rel="shortcut icon" href="./images/icono.ico"/>
	<link rel="stylesheet" href="./stylesheets/styles.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<div class="background"></div>

	<div class="mensajes">
		<!-- <div><div class="status green"></div><span><strong>Fausto Fusse</strong> se ha conectado.</span><button id="cerrar"><i class="fa fa-times"></i></button></div> -->
	</div>

	<div class="screenshot">
		<div class="container">
			<h3>Screenshot:</h3>
			<img src="" alt="screenshot">
			<div>
				<a href="" download="screenshot.png">Descargar</a>
				<button>Volver</button>
			</div>
		</div>
	</div>

	<div class="menuBottom">
		<button id="amigos"><i class="fa fa-user-friends"></i></button>
		<button id="robots"><i class="fa fa-robot"></i></button>
		<button id="solicitudes"><i class="fa fa-user-plus"></i></button>
		<button id="buscar"><i class="fa fa-search"></i></button>
		<button id="connectRobot"><i class="fa fa-link"></i></button>
	</div>
	
	<div class="menu">
		<div class="background"></div>
		<div class="buscar">
			<div class="input">
				<i class="fa fa-search"></i>
				<input id="buscar" name="buscar" type="search" placeholder="Buscar Personas">
			</div>
			<div class="listado">
				<div class="none">No hay resultados :(</div>
			</div>
		</div>
		<div class="solicitudes">
			<div class="superior">
				<h2>Solicitudes de amistad</h2>
				<button><i class="fa fa-times"></i></button>
			</div>
			<div class="listado">
				<div class="none">No tienes ninguna solicitud :(</div>
			</div>
		</div>
		<div class="addRobot">
			<div class="superior">
				<h2>Conectar un robot:</h2>
				<button><i class="fa fa-times"></i></button>
			</div>
			<div class="mac">
				<span>Mac Address:</span>
				<div class="inputs">
					<input id="1" type="text" pattern="[a-fA-F0-9]" maxlength="2"><span>:</span>
					<input id="2" type="text" pattern="[a-fA-F0-9]" maxlength="2"><span>:</span>
					<input id="3" type="text" pattern="[a-fA-F0-9]" maxlength="2"><span>:</span>
					<input id="4" type="text" pattern="[a-fA-F0-9]" maxlength="2"><span>:</span>
					<input id="5" type="text" pattern="[a-fA-F0-9]" maxlength="2"><span>:</span>
					<input id="6" type="text" pattern="[a-fA-F0-9]" maxlength="2">
				</div>
			</div>
			<button id="conectar">Conectar</button>
		</div>
	</div>

	<header>
		<a href=""><img src="./images/LogoTarsCircularWhite.svg" alt="Logo"></a>
		<h1>TARS</h1>
	</header> 

	<main>
		<nav>
			<div class="usuario">
				<div class="estado"></div>
				<span id="nombre">{{user.nombre}} {{user.apellido}}</span>
			</div>
			<div class="opciones">
				<button id="friendRequests">Solicitudes<i class="fa fa-user-plus"></i></button>
				<button id="addFriend">Agregar<i class="fa fa-search"></i></button>
				<button id="connectRobot">Conectar Robot<i class="fa fa-link"></i></button>
				<button id="logout">Salir<i class="fa fa-sign-out-alt"></i></button>
			</div>
			<button class="mobile" id="logout"><i class="fa fa-sign-out-alt"></i></button>
		</nav> 
		<div class="contenedor">
			<div class="left">
				<div class="superior">
					<button id="amigos">Amigos</button>
					<button id="robots">Robots</button>
				</div>
				<div class="inferior">
					<div class="amigos">
						<h3>No tienes amigos :(</h3>
					</div>
					<div class="robots">
						<h3>No tienes ningun robot :(</h3>
					</div>
				</div>
			</div>
			<div class="videollamada">
				<div class="conferencia">
					<div class="opciones">
						<button id="expand"><i class="fa fa-expand"></i></button>
						<button id="screenshot"><i class="fa fa-camera"></i></button>
						<button id="volume"><i class="fa fa-volume-up"></i></button>
						<button id="close"><i class="fa fa-phone-slash"></i></button>
					</div>
					<video autoplay="true" id="videoFriend"></video>
					<video autoplay="true" id="videoUser"></video>
				</div>
				<div class="llamando">
					<h3>Te estan llamando...</h3>
					<div class="opciones">
						<button id="atender"><i class="fa fa-phone"></i></button>
						<button id="declinar"><i class="fa fa-phone-slash"></i></button>
					</div>					
				</div>
				<h2>No estas en ninguna videollamada</h2>
			</div>
		</div>
	</main>

	<script>
		var userId = '{{user._id}}',
			correo = '{{user.correo}}',
			nombre = '{{user.nombre}}',
			apellido = '{{user.apellido}}';
	</script>
	<script type="text/javascript" src="./javascripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="./socket.io/socket.io.js"></script>
	<script type="text/javascript" src="./javascripts/peer.min.js"></script>
	<script type="text/javascript" src="./javascripts/videocalls.js"></script>
	<!--<script type="text/javascript" src="./javascripts/movimiento.js"></script>-->
	<script type="text/javascript" src="./javascripts/main.js"></script>
</body>
</html>