<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
	<title>{{title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:800|Orbitron:900" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="shortcut icon" href="./images/icono.ico"/>
	<link rel="stylesheet" href="./stylesheets/login.css">
</head>
<body>
	<div class="background"></div>
	<!-- <video autoplay muted loop id="myVideo">
	  <source src="./videos/background.mp4" type="video/mp4">
	</video> -->

	<div class="mensajes">
		{{#if success_msg}}
			<div class="success">{{success_msg}}</div>
		{{/if}}
		{{#if error_msg}}
			<div class="alert">{{error_msg}}</div>
		{{/if}}
		{{#if error}}
			<div class="alert">{{error}}</div>
		{{/if}}
		{{#if errors}}
			{{#each errors}}
				<div class="alert">{{msg}}</div>
			{{/each}}
		{{/if}}
	</div>
	<header>
		<h1>Bienvenido a <span>TARS.</span></h1>
		<h2>Videollamadas y simulacion de presencia.</h2>
		<button id="scrollDown">
			<i class="fas fa-chevron-down"></i>
		</button>
	</header>
	<main>	
		<div class="separador ingresar">
			<div class="linea"></div>
			<h2>Ingresa ahora</h2>
			<div class="linea"></div>
		</div>
		<div class="botones">
			<button id="btnIniciar">Iniciar Sesion</button>
			<button id="btnRegistrarse">Registrarse</button>
		</div>
		<form method="POST" action="/login">
			<input type="text" name="nombre" id="nombre" placeholder="Nombre">
			<input type="text" name="apellido" id="apellido" placeholder="Apellido">
			<input type="email" name="correo" id="correo" placeholder="Correo Electronico" required>
			<!--pattern=".{8,}" title="Debe tener 8 o mas caracteres"-->
			<input type="password" name="password" id="password" placeholder="Contraseña" required>
			<input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repetir Contraseña">
			<button type="submit" id="aceptar">Aceptar</button>
		</form>
		<div class="separador">
			<div class="linea"></div>
			<span>o</span>
			<div class="linea"></div>
		</div>
		<a id="googleButton" href="/auth/google">
			<img alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
			<span>Iniciar con Google</span>
		</a>
		<button id="scrollUp"><i class="fas fa-chevron-up"></i></button>
	</main>

	<script>var login = ('{{login}}'==='true');</script>
	<script type="text/javascript" src="./javascripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="./javascripts/jquery.particleground.min.js"></script>
	<script type="text/javascript" src="./javascripts/login.js"></script>
</body>
</html>